{% extends "registration/layout.html" %}
{% block content %}
<div >
    <table class='table table-hover'>
        <thead> 
            <tr>
                <th >Id</th>
                <th >Autor</th>
                <th >Título</th>
                <th>Enlace</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        {% for libro in data %}      
        <tbody>
            <tr>
                <td>{{libro.id}}</td>
                <td>{{libro.autor}}</td>
                <td>{{libro.titulo}}</td>
                {%if libro.enlace == 'Is Null'%}
                    <td>No válido</td>
                {% else %}
                    <td><a href="{{libro.enlace}}">Descargar</a></td>
                {% endif %}
                <td><a href="/registration/update/{{ libro.id }}">Editar</a></td>
                <td><a href="/registration/delete/{{ libro.id }}">delete</a></td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
    
    </div>

{% endblock %}