{% extends "registration/layout.html" %}
{% block content %}
<div >
    <table class='table table-hover'>
        <thead> 
            <tr>
                <th>Id</th>
                <th>Subido por</th>
                <th>Autor</th>
                <th>Título</th>
                <th style="padding-left: 2%;">Enlace</th>
                <th style="padding-left: 2%;">Acciones</th>
            </tr>
        </thead>
        {% for libro in data %}      
        <tbody>
            <tr>
                <td style="padding-top: 1.5%;">{{libro.id}}</td>
                <td style="padding-top: 1.5%;">{{libro.username}}</td>
                <td style="padding-top: 1.5%;">{{libro.autor}}</td>
                <td style="padding-top: 1.5%;">{{libro.titulo}}</td>
                <td><a class="btn btn-success" href="{{libro.enlace}}">Descargar</a></td>
                {% if user.is_staff %}
                <td><a class="btn btn-outline-primary" href="/editar_libro/{{ libro.id }}">Editar</a>
                {% endif %}
                {% if user.is_superuser %}
                    <a class="btn btn-outline-danger" href="/registration/delete/{{ libro.id }}">Eliminar</a>
                {% endif %}
                </td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
    
    </div>

{% endblock %}