{% extends "blog/layout.html" %}
{% load static %}
{% block content %}

<div >
    <table class='table table-hover'>
        <thead> 
            <tr>
                <th >Id</th>
                <th >Nombre de usuario</th>
                <th >Nombre</th>
                <th >Correo electrónico</th>
                <th >Fecha de registro</th>
                <th >Último Ingreso</th>
                <th >Es Administrador</th>
            </tr>
        </thead>
        {% for usuario in data %}      
        <tbody>
            <tr>
                <td>{{usuario.id}}</td>
                <td>{{usuario.username}}</td>
                <td>{{usuario.first_name}}</td>
                <td>{{usuario.email}}</td>
                <td>{{usuario.date_joined}}</td>
                <td>{{usuario.last_login}}</td>
                <td>{{usuario.is_staff}}</td>
                <td><a href="registration/update/{{ usuario.id }}">Editar</a></td>
                <td><a href="registration/delete/{{ usuario.id }}">delete</a></td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
    
    </div>
    
    {% endblock %}
