{% extends "blog/layout.html" %}
{% load static %}
{% block content %}

<div >
    <table class='table table-hover'>
        <thead> 
            <tr>
                <th >Nombre</th>
                <th >Apellido</th>
                <th >Correo</th>
                <th >Ciudad</th>
                <th >Teléfono</th>
            </tr>
        </thead>
        {% for usuarios in data %}      
        <tbody>
            <tr>
                <td>{{usuarios.nombre}}</td>
                <td>{{usuarios.apellido}}</td>
                <td>{{usuarios.correo}}</td>
                <td>{{usuarios.ciudad}}</td>
                <td>{{usuarios.telefono}}</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
    
    </div>
    
    {% endblock %}